.border-primary-400{
    border: 2px solid #a775f1;
}

.container {
    display: grid;
   grid gap: 1.5rem;
    grid-template-columns: auto auto auto;
}

.item-1 {
    grid-row- span4;
    grid-column: 1/5;
    background-color: hotpink;
    padding: 5px
    grid-area: main;
}

.item-2 {
    grid-row: span 3;
    grid column:  2/5;
    grid-area:left
}

.item-3 {
    grid-row: span
    grid column 1/5;
    grid-area :right
}

//test for columns
.grid-container {
  display: grid;
  column-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #c646bc;
  padding: 50px;
}

.grid-item{
  background-color: rgba(97, 148, 160, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 14px;
  text-align: center;